//Soal 1
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<div id="app">
		<form @submit.prevent = "submitForm()">
			<p v-if="errors.lenght">
				<input type="text" name="title" ref="title" v-model="title">
				<input type = "submit" value = "Add">
				<ul>
					<li v-for="error in errors">Muhammad Iqbal Mubarok</li><input type = "submit" value = "Edit">||<input type = "submit" value = "Delete">
					<li v-for="error in errors">Ruby Purwanti</li><input type = "submit" value = "Edit">||<input type = "submit" value = "Delete">
					<li v-for="error in errors">Faqih Muhammad</li><input type = "submit" value = "Edit">||<input type = "submit" value = "Delete">
				</ul>
			</p>	
		</form>
	<div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				nama : ''
			},
			methods: {
				submitForm: function(){
					
					if(this.nama === k){
						this.$refs.nama.focus()
					}
				}
			}
		}